
<div id="publication">
<div id="ubclogo">
	<a href="http://www.ubc.ca" target="_blank"><img src="ubclogo.png"/></a>
</div>
<div id="lablogo">
	<a href="http://clip.ubc.ca" target="_blank"><img src="C:\Users\Shams\Documents\Overall\topfind4\topfind4.1\public\images\lablogo.png"/></a>
</div>

<%=image_tag("ubclogo.png", size: "700x100", alt: "Example Image")%>
	
<center>
<a href="/documentations/about">About</a>
<a href="/documentations/license">License &amp; Disclaimer</a>
<a href="mailto:philipp.lange@ubc.ca">Contact</a>
<a href="/documentations/download">Download</a> 
</center>

<center>
	<p>
		<a href="http://nar.oxfordjournals.org/content/early/2014/10/20/nar.gku1012.full" target="_blank">Nikolaus Fortelny, Sharon Yang, Paul Pavlidis, Philipp F. Lange*, Christopher M. Overall*, <b>Nucleic Acids Research</b> doi: 10.1093/nar/gku1012 (2014)</a><a href="http://nar.oxfordjournals.org/content/early/2014/10/20/nar.gku1012.full.pdf+html" target="_blank">[pdf]</a><br></br>
		<a href="http://nar.oxfordjournals.org/content/40/D1/D351.full" target="_blank">Philipp F. Lange, Pitter F. Huesgen, Christopher M. Overall, <b>Nucleic Acids Research</b> 40 (D1), D351-D361 (2012)</a> <a href="https://www.researchgate.net/profile/Philipp_Lange/publication/51816705_TopFIND_2.0--linking_protein_termini_with_proteolytic_processing_and_modifications_altering_protein_function/links/0fcfd50574d434aac9000000?ev=pub_int_doc_dl&origin=publication_detail&inViewer=true" target="_blank">[pdf]</a><br></br>
		<a href="http://www.nature.com/nmeth/journal/v8/n9/full/nmeth.1669.html" target="_blank">Philipp F. Lange &amp; Christopher M. Overall, <b>Nature Methods</b> 8, 703&minus;704 (2011)</a> <a href="/topfind/downloads/2011-NMeth-Lange_and_Overall.pdf" target="_blank">[pdf]</a>
	</p> 
	<div class="bottom">&nbsp;</div>
</center>