
<table class = "page-header" width = 100%><tr>  <td> <h1>  TopFIND 4.1 By Shams</h1> </td> <td> 
<a href="/proteins/index"><h2>Proteins</a></td></h2> <td>
 <a href="/nterms/index"><h2>N Term</a> </h2> </td> <td>
<a href="/cterms/index"><h2>C Term</a> </td></h2><td>
<a href="/cterms/index"><h2>Modification</a> </td></h2><td>
<a href="/cterms/index"><h2>TopFINDER</a> </td></h2><td>
<a href="/cterms/index"><h2>PathFINDER</a> </td></h2><td>
<a href="/cterms/index"><h2>Updates</a> </td></h2><td>
<a href="/cterms/index"><h2>Help</a> </td></h2><td>
<%= form_tag({:controller => "proteins", :action => "index"}, :method => "get") do %>
  <%= label_tag(:query, "Search:") %>
  <%= text_field_tag(:query) %>
<% end %></td>
</tr></table>