<% if @protein.nil? %>
<p>There are not any proteins currently in the system. <%= @protein %> </p>
<% else %>
<p>These are the current proteins in our system</p>
<li><%= link_to @protein.name, {:action => 'show', :id => @protein.id} %></li>
<% end %>